@import "../../bower_components/susy/sass/susy";

$susy: (
    columns: 12,
    gutters: 1/4,
    container: auto,
    container-position: center,
    math: fluid,
    output: float,
    gutter-position: inside,
    global-box-sizing: border-box,
);

.wrapper {
    @include container(80%);
}